* {padding: 0; margin: 0; letter-spacing: -6%; box-sizing: border-box;}
a {text-decoration: none; color: #222;}
html, body {margin: 0; padding: 0; height: 100%; overflow: hidden;}
body {height: auto;}

/* 마우스 */
.cursor-glow{
    position: fixed;
    width: 120px;
    height: 120px;
    border-radius: 50%;

    background:#4B78FF;;
    pointer-events: none;
    mix-blend-mode:color-burn;

    z-index: 10001;

    left: 0;
    top: 0;

    transform: translate(-50%, -50%);
    transition: transform 0.08s linear;
}

/* 화면분할 */
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-panel {
  width: 35%;
  height: auto;

  /* 각각 독립 스크롤 */
  overflow-y: auto;
  overflow-x: hidden;

  /* iOS 부드러운 스크롤 */
  -webkit-overflow-scrolling: touch;
}

.right-panel {
  width: 65%;
  height: auto;

  /* 각각 독립 스크롤 */
  overflow-y: auto;
  overflow-x: hidden;

  /* iOS 부드러운 스크롤 */
  -webkit-overflow-scrolling: touch;
}

/* 스크롤바 숨기기 */

/* Chrome, Safari, Edge */
.left-panel::-webkit-scrollbar,
.right-panel::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.left-panel,
.right-panel {
  scrollbar-width: none;
}

/* IE */
.left-panel,
.right-panel {
  -ms-overflow-style: none;
}

section {
    margin-top: 200px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallery-item>img {
    width: 100%;
    display: block;
    border: none;
    box-sizing: border-box;
}




/* 헤더 */
header>a {
    font-weight: 800;
    font-size: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: -5%;
    background-color: #f6f6f680;
    z-index: 9999;
}

#header {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header>a {
    display: block;
    font-weight: 700;
    font-size: 20px;
}

#header>a:hover {
    transition: all 0.2s ease;
    color: #4B78FF;
}

h1 {
    font-size: 45px;
    position: relative;
    line-height: 50px;
}

h2 {
    font-size: 22px;
    width: fit-content;
}

.type2 {
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: #f6f6f650;
}

h3>a {
    color: #f6f6f688;
}

h3>a:hover {
    color: #f6f6f6;
}

h4 {
    font-size: 24px;
    margin-bottom: 5px;
}

h5 {
    font-size: 22px;
    line-height: 32px;
}


h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 10px;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.align {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lighter {
    padding: 0 10px;
    font-size: 21px;
    font-weight: 400;
    color: #22222280;
}


/* body */
body {
    background-color: #f6f6f6;
}

.left-panel>h1 {
    margin-left: 45px;
    margin-bottom: 20px;
}

.imgcontainer>img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.right-panel>.title {
    display: block;
    position: relative;
    right: 0;
    margin-left: 45px;
    margin-bottom: 20px;
}

.colorbox {
    background-color: #ddff4d;
    padding: 45px 100px;
}

.colorbox>h1 {
    margin: 20px 0 15px 0;
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #8ea332;
    margin: 25px 0 35px 0;
}

/* 옵션 */
.option {
    padding: 45px 90px;
}

.option>h1, .afteryou {
    margin: 27px 0;
}

.optionbox {
    width: 100%;
    height: auto;
    padding: 30px 30px;
    background-color: #ddff4d;
    overflow: hidden;
}

.box {
    width: 100%;
    height: auto;
    padding: 30px 30px;
    background-color: #ddff4d;
    overflow: hidden;
}

.mockupbox {
    background:url(../img/mockup1.jpg);
    background-size: 110%;
    background-position-x: center;
    background-position-y: center;
}

.mockupbox:hover {
    background:url(../img/mockup1_1.jpg);
    background-size: 150%;
    background-position-x: center;
    background-position-y: center;
    transition: 1s ease;
}

.inboxtext {
    font-size: 45px;
    font-weight: 700;
    z-index: 99;
}



/* 내지 */
.pages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.pageschild{
    width: 100%;
    height: auto;
    padding: 30px 30px;
    background-color: #ddff4d;
    overflow: hidden;
}

.type1 {
    background:url(../img/type1\(3\)_1.png);
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    transition: 1s ease;
}

.type1:hover {
    background:url(../img/type1\(3\).png);
    background-size: 120%;
    background-position-x: center;
    background-position-y: center;
    transition: 1s ease;
}

.type2 {
    background:url(../img/type2\(1\)_1.png);
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    transition: 1s ease;
}

.type2:hover {
    background:url(../img/type2\(1\).png);
    background-size: 120%;
    background-position-x: center;
    background-position-y: center;
    transition: 1s ease;
}


/* 선점관련 */
.box:first-child {
    height: 200px;
}

.explain {
    font-size: 18px;
    line-height: 26px;
}

.exlist {
    font-size: 18px;
    margin: 12px 0;
}


/* 주의, 주문서 */
.caution {
    margin: 50px 0;
}

.ordering {
    display: flex;
    justify-content: left;
    margin-bottom: 100px;
}

.copybutton {
    display: block;
    width: 110px;
    border: none;
    height: 40px;
    color: #f6f6f6;
    background-color: #222;
    margin-top: 20px;
    font-size: 16px;
    opacity: 0;
}

.textbox {
    margin-left: 100px;
}